* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}
.code-wrapper {
  flex: 1;
  width: 50%;
  background: #f3f5f6;
  height: 100vh;
}
.preview-wrapper {
  flex: 1;
  width: 50%;
  background: #fa839a;
  z-index: -1;
}
#code {
  overflow: hidden;
  height: 100%;
  padding-left: 60px;
}
