* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}
body {
  height: 100vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fd8298;
}
.wrapper {
  width: 720px;
  position: relative;
  /* border: 10px solid white; */
}
.head {
  width: 395px;
  height: 489px;
  background: #f7d5a7;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 0 0 20px 20px;
  /* margin-top: -200px; */
  box-shadow: 1px 18px 0px -2px rgba(197, 166, 121, 1);
}
/* hair css */
.hair {
  width: 435px;
  height: 35px;
  background: #8e8d8d;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: -20px;
}
.hair::before {
  content: "";
  width: 45px;
  height: 112px;
  background: #8e8d8d;
  position: absolute;
  top: 35px;
  border-radius: 0 0 9px 9px;
}
.hair::after {
  content: "";
  width: 45px;
  height: 112px;
  background: #8e8d8d;
  position: absolute;
  top: 35px;
  right: 0;
  border-radius: 0 0 9px 9px;
}

/* glasses css */
.glasses {
  width: 207px;
  height: 162px;
  background: #fae1c2;
  border: 14px solid #282828;
  border-radius: 10px;
}
.glasses.left {
  position: absolute;
  left: -20px;
  top: 145px;
}
.glasses.right {
  position: absolute;
  right: -20px;
  top: 145px;
}
.glasses.right::after {
  content: "";
  width: 33px;
  height: 17px;
  background: #282828;
  position: absolute;
  top: 31px;
  left: -35px;
}

/* naris css */
.naris {
  width: 18px;
  height: 18px;
  background: #925200;
}
.naris.left {
  position: absolute;
  left: 175px;
  top: 314px;
  border-radius: 6px;
}
.naris.right {
  position: absolute;
  left: 205px;
  top: 314px;
  border-radius: 6px;
}

/* mouth css */
.mouth {
  background: #c6a77d;
  width: 147px;
  height: 8px;
  position: absolute;
  top: 412px;
  left: 125px;
  border-radius: 4px;
}

/* personal body css*/
.personal-body {
  width: 720px;
  height: 222px;
  background: #232e3c;
  border-top-left-radius: 250px 65px;
  border-top-right-radius: 250px 65px;
  position: relative;
  z-index: -1;
}
.suit {
  position: absolute;
  width: 283px;
  height: 222px;
  background: #f5f2f3;
  top: 0;
  left: 218px;
}
.suit::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 78px solid transparent;
  border-top-color: #fff;
  border-left-color: #fff;
}
.suit::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  border: 78px solid transparent;
  border-right-color: #fff;
  border-top-color: #fff;
}
.cloth {
  width: 0px;
  height: 0px;
  border: 96px solid transparent;
}
.cloth.left {
  position: absolute;
  left: 23px;
  border-right-color: #2D384D;
}
.cloth.left::after {
  content: '';
  position: absolute;
  top: 4px;
  left: -21px;
  width: 0;
  height: 0;
  border: 60px solid transparent;
  border-right-color: #2D384D;
}
.cloth.right {
  position: absolute;
  right: 27px;
  border-left-color: #2D384D;
}

.cloth.right::after {
  content: '';
  position: absolute;
  top: 6px;
  right: -24px;
  width: 0;
  height: 0;
  border: 60px solid transparent;
  border-left-color: #2D384D;
}
.vest {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #1C2632;
  border-bottom-color: #1C2632;
  position: absolute;
  left: 218px;
  top: 182px;
}
.vest::after {
  content: '';
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #1C2632;
  border-bottom-color: #1C2632;
  position: absolute;
  top: -20px;
  right: -263px;
}
.tie {
    position: absolute;
    left: 280px;
    top: -2px;
    width: 50px;
    height: 50px;
    margin: 40px  80px 40px;
    transform-origin: 0 100%;
    transform:rotate(-45deg);
    background: #FD8298;
}
.tie-c {
  position: absolute;
  left: 335px;
  top: 30px;
  width: 60px;
  height: 0;
  border-bottom: 193px solid #FD8298;
  border-left: 20px solid transparent;
  border-right: 30px solid transparent;
  z-index: 0;
}
